body {
    background: linear-gradient(to right bottom, rgb(24, 255, 128), rgb(0, 148, 25));
    height: 100vh;
}
a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
a:hover {
    color: #FFFFFF;
}
.inputwrapper {
    margin-left:4px;
    margin-bottom: 2px;
}
.questionwrapper {
    display: flex;
}
h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    font-size: 36px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
i {
    margin-left: 5px;
    color: #FFFFFF;
}
form p:nth-child(1) {
    font-weight: 800;
}
button {
    border: none;
    cursor: pointer;
    padding: 2px 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #FFFFFF;
    margin-left: 2px;
    margin-right:2px;
}
button:hover {
    box-shadow: 0px 0px 3px 0px black;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;     
    margin-right: 7px;
    outline: none;
}
.radio:checked::before {
     position: absolute;
     font: 'Open Sans', sans-serif;
     font-size: 12px;
     font-weight: bold;
     color: #FFFFFF;
     left: 4px;
     top: 2px;
     content: '\2605';
}
.radio:hover {
     background-color: #f7f7f7;
}
.radio:checked {
    background: linear-gradient(to right bottom, rgb(253, 253, 253), rgb(177, 177, 177));
}
.right {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;     
    margin-right: 7px;
    outline: none;
}
.right:checked::before {
     position: absolute;
     font: 'Open Sans', sans-serif;
     font-size: 12px;
     font-weight: bold;
     color: #FFFFFF;
     left: 6px;
     top: 2px;
     content: '\02143';
     transform: rotate(40deg);
}
.right:hover {
     background-color: #f7f7f7;
}
.right:checked {
    background: linear-gradient(to right bottom, rgb(24, 255, 128), rgb(0, 182, 91));
}
.wrong {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;     
    margin-right: 7px;
    outline: none;
}
.wrong:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;     
    margin-right: 7px;
    outline: none;
    background: linear-gradient(to right bottom, rgb(255, 24, 24), rgb(196, 33, 33));
    
}
.wrong:checked::before {
    position: absolute;
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    left: 6px;
    top: 3px;
    content: '\03a7';
}

.scorewrapper {
    display: flex;
    flex-flow: wrap;
}
.scoretile {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 5px;
    height: max-content;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
.questiontile {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 5px;
    width: 25%;
}
.scoretile p, .questiontile p {
    color: black;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}